<div class="flex-horizontal" style="column-gap:2%; justify-content:center">
  <%= live_component StablecoinStatsWeb.StatComponent, stat: @busd %>
  <%= live_component StablecoinStatsWeb.StatComponent, stat: @usdc %>
  <%= live_component StablecoinStatsWeb.StatComponent, stat: @usdt %>
</div>
