<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Stablecoin Stats" %>
    <%!-- <link rel="icon" type="image/png" href="/images/favicon.png" /> --%>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body style="background-color:#1D2229">
    <div style="color:white; padding-top:20px; padding-bottom:10px; text-align:center">
      <img src={"/images/logo_white.svg"} height="60px">
    </div>
    <%= @inner_content %>
  </body>
</html>
